body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
  }

  main {
    flex: 1 0 auto;
  }
  
  .breadcrumbs{
    color: grey;
  }

  .breadcrumbs a {
    color: grey;
  }

  .products-section {
    display: grid;
    grid-template-columns: 1fr 3fr
  }
  
  .products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 60px 10px;
  }

  #body-row {
    margin-left:0;
    margin-right:0;
}
#sidebar-container {
    min-height: 100vh;   
    background-color: #333;
    padding: 0;
}

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
    width: 230px;
}
.sidebar-collapsed {
    width: 60px;
}

/* Menu item*/
#sidebar-container .list-group a {
    height: 50px;
    color: white;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}
.sidebar-submenu {
    font-size: 0.9rem;
}

/* Separators */
.sidebar-separator-title {
    background-color: rgb(241, 236, 236);
    height: 35px;
}
.sidebar-separator {
    background-color: rgb(241, 234, 234);
    height: 25px;
}
.logo-separator {
    background-color:  rgb(241, 236, 236); 
    height: 60px;
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
  